@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

body {
    font-family: "Varela Round", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* Global Loading Overlay */
#global-loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8); /* White with opacity */
    z-index: 9999; /* Ensure it sits on top of everything */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    backdrop-filter: blur(2px); /* Optional: blurs the background slightly */
}

/* utility to hide the loader */
.loader-hidden {
    display: none !important;
}